.container{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
    border-radius: 10px;
    box-shadow: 1px 1px 5px DodgerBlue;
    background-color: #fff;
    margin-top: 50px;
    margin-bottom: 500px;
    width: 300px;
    padding: 50px 50px 70px 50px;

}



.container:hover {
    transform: scale(1.05);
}