#achievements .achievement-title-row{
    transform: translate(0px, -1px);
}

#achievements .achievement-image{
    width: 64px;
    background-color: black;
    padding: 2px;
    margin: 4px;
}

#achievements p{
    transform: translate(0px, 20px);
    margin: 0px;
}