.forgotHeader {
    background: linear-gradient(145deg, #0d47a1, #1976d2);
    height: 100px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .forgotTitle {
    font-size: 50px;
  }