.h1 {
  color: DodgerBlue;
  padding-top: 1%;
  padding-bottom: 1%;
  font-family: Arial;
  margin-left: 1%;
}

.body {
  font-family: Arial;
  text-align: left;
  margin-left: 1%;
}

th {
  cursor: pointer;
}

.input {
  margin-left: 2%;
  width: 20%;
}

.table {
  border-collapse: collapse;
  margin: 2em;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table thead tr {
  background-color: #92b625;
  color: #ffffff;
  text-align: left;
}

.table th,
.table td {
  padding: 12px 15px;
}

.table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.table tbody tr:last-of-type {
  border-bottom: 2px solid #92b625;
}

tr:hover {
  background-color: #92b62570;
}

th:first-child {
  border-radius: 6px 0 0 0;
}

th:last-child {
  border-radius: 0 6px 0 0;
}

th:only-child {
  border-radius: 6px 6px 0 0;
}
