.h1{
    color: DodgerBlue;
    padding-top: 1%;
    padding-bottom: 1%;
    font-family: Arial;
    margin-left: 1%;
}

.h3{
  text-align: 'center';
  font-size: 10;
  color: #22C88A;
  margin-left: 1%;
  margin-top: 10;
  font-weight: 'bold';
}

.body {
    font-family: Arial;
    text-align: left;
    margin-left: 1%;
    font-size: 20;
}


th {
    cursor: pointer;
    color:#FEFEFE;
    background-color: #0277BD;
    text-align: center;
}


.input {
    margin-left: 2%;
    width: 20%;
}

.buttonCalculate {
    border: none;
    outline: none;
    font-size: 11px;
    font-family: "Quicksand", sans-serif;
    color: #0277BD!important;
    padding: 3px 10px;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid #0277BD!important;
    background-color: transparent;
}



/*Table*/
.table {
    border-collapse: collapse;
    margin: 2em;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
  .table thead tr {
    background-color: #0277bd;
    color: #ffffff;
    text-align: left;
  }
  
  .table th,
  .table td {
    padding: 12px 15px;
  }
  
  .table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  .table tbody tr:last-of-type {
    border-bottom: 2px solid #0277bd;
  }
  
  tr:hover {
    background-color: #0278bd32;
  }
  
  th:first-child {
    border-radius: 6px 0 0 0;
  }
  
  th:last-child {
    border-radius: 0 6px 0 0;
  }
  
  th:only-child {
    border-radius: 6px 6px 0 0;
  }
/*Table*/


/*INPUT*/
input[type=search] {
    width: 158px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
  
/* When the input field gets focus, change its width to 100% */
input[type=search]:focus {
    width: 290px;
}

input[type=search] {
    border-radius: 25px;
    border: 2px solid #0277BD;
    padding: 20px;
    height: 10px;
}
/*INPUT*/

/*Button*/
.searchButton {
    display: inline-block;
    background-color: #0277BD;
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 20px;
    width: 120px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
/*Button*/

/*Home page Footer*/
.footer {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  margin-top: 20px; 
  text-align: center;
}

